@*
*@
@{
    ViewData["Title"] = "Application Submitted";
}
@model Mission6.Models.FormResponse

<!--Confirmation page after submitting movie form-->
<h2>Thank you for submitting your movie! I am excited to add @Model.Title to my collection.</h2>
