@*
*@
@{
    ViewData["Title"] = "My Podcasts";
}

<!--page to link to all of Joel's podcasts -->
<h1>Check out my podcast called Baconsale right here:</h1>
<a href="https://baconsale.com/">All Podcasts</a>